Source: gridvis-server
Section: utils
Priority: optional
Maintainer: Janitza electronics GmbH <info@janitza.com>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>
Build-Depends: debhelper (>= 7.0.50~),
  dh-systemd,
  libfreetype6 (>= 2.4.9-1.1~),
  libgcj15,
  libgl1-mesa-glx (>= 8.0.5-4~),
  libxrender1 (>= 1:0.9.7),
  libxslt1.1 (>= 1.1.26-14.1~),
  libxtst6 (>= 2:1.2.1-1~),
  libxxf86vm1 (>= 1:1.1.2-1~),
  lynx
#Vcs-Git: 
#Vcs-Browser: 
Standards-Version: 3.9.7
Homepage: http://www.janitza.com/products/software/software-gridvis/

Package: gridvis-server
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: gridvis-desktop (>= 6.0.0)
Breaks: gridvis-desktop (<< 6.0.0)
Description: web admin software for Janitza measurement devices
 The Janitza-GridVis service software that works as a daemon to read
 out the various devices, collect the data and store the measurement
 data into a database.
 .
 The GridVis software is a product of:
 .
 Janitza electronics GmbH
 Vor dem Polstück 1
 D-35633 Lahnau
 Germany
